{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}

<div class="table-cell table-middle">
  <div class="row">
    <div class="col s12 m12">
      {% if author.avatar %}
      <img src="{{ site.url }}/img/profile.jpg" alt="" class="avatar">
      {% endif %}
    </div>
    <div class="col s12 m12">
      <a href="{{ site.url }}/" class="author_name" style=''>{{ author.name }}</a>
      <span class="author_job" style='margin-top:10px'>{{ author.job }} <br/>@ University of Texas at Austin <br/> <b>(Expected Graduation, Fall 22)</b> </span>
      <!--<div class="" style='margin-top:10px'>
        <span class="author_job">Research Interests</span>
        <span class="author_bio">Deep Learning, Reinforcement Learning, Learning from Demonstration, Computer Vision, and Robotics</span>
      </div>-->
      <div style='margin-top:10px'>
        <a href="{{ site.url }}/files/cv.pdf">Curriculum Vitae</a>
      </div>
      <!--<nav class="nav" style='margin-top:20px'>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="{{ site.url }}/">home</a>
            <span>/</span>
          </li>
          {% for page in site.pages %} {% if page.title %}
          <li class="nav-item">
            <a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>
            {% unless forloop.last %}
              <span>/</span>
            {% endunless %}
          </li>
          {% endif %} {% endfor %}
        </ul>
      </nav>
      -->
      {% include social-links.html %}
    </div>
  </div>
</div>
