{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}

<div class="cover-card table-cell table-middle">
  <div class="row">
    <div class="col s6 m6 l12">
      {% if author.avatar %}
      <img src="{{ site.url }}/img/profile.jpg" alt="" class="avatar">
      {% endif %}
    </div>
    <div class="col s6 m6 l12">
      <a href="{{ site.url }}/" class="author_name">{{ author.name }}</a><br/>
      <span class="author_job">{{ author.job }} <br/>@ University of Texas at Austin</span>
      <span class="author_bio mbm">
        B.S. in Computer Science and Engineering<br/>
        Seoul National University
      </span><br/>
      <span class="">
        <span class="author_job">Research Interests</span>
        <span class="author_bio">Deep Learning, Robotics, Computer Vision, Artificial Intelligence</span>
      </span><br/>
      <span>
        <a href="{{ site.url }}/files/cv.pdf">Curriculum Vitae</a>
      </span>
      <nav class="nav" style='margin-top:3em'>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="{{ site.url }}/">home</a>
            <span>/</span>
          </li>
          {% for page in site.pages %} {% if page.title %}
          <li class="nav-item">
            <a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>
            {% unless forloop.last %}
              <span>/</span>
            {% endunless %}
          </li>
          {% endif %} {% endfor %}
        </ul>
      </nav>
      {% include social-links.html %}
    </div>
  </div>
</div>
